[MASTER]
ignore=test
ignore-patterns=^test_\w+\.py$
load-plugins=pylint.extensions.broad_try_clause,pylint.extensions.emptystring,pylint.extensions.comparetozero,pylint.extensions.bad_builtin,pylint.extensions.mccabe,pylint.extensions.docstyle,pylint.extensions.check_elif,pylint.extensions.redefined_variable_type,pylint.extensions.overlapping_exceptions,pylint.extensions.docparams

[MESSAGES CONTROL]
disable=C0330,C0303,E1136

[FORMAT]
max-line-length=88

[DESIGN]
max-parents=12
max-attributes=8
