[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pycodestyle = "*"
pydocstyle = "*"
pylint = "*"
mypy = "*"
coverage = "==5.5"

[packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
