[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pycodestyle = "*"
pydocstyle = "*"
coverage = "==4.5.2"
astroid = "==2.1.0"
mypy = "*"
pylint = "*"

[packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
